html, body { height: 100%; }
body { min-height: 100%; background-color: #fff; }

.mat-drawer-container{ height: 100%; }
  .mat-raised-button { right: 10px; display: inline-block; }
  // Sidenav
  .mat-slide-toggle { display: inline-block; margin-right: 20px}
  .mat-sidenav { width: 200px; }

  footer {
    @extend .navbar;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #f8f9fa !important;
    color: #fff;
    text-align: center;
  }

  .text-muted {
    margin: 0 auto;
  }

// Tailles recommandées pour les icones
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Icone noir sur fond blanc
// md-inactive pour une icone désactivée
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Icone blanc sur fond noir
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

// Couleur personalisée pour une icone
.material-icons.orange600 { color: #FB8C00; }
