<mat-horizontal-stepper linear>
  <!--Step 1-->
  <mat-step [stepControl]="premierFormulaire">
    <form [formGroup]="premierFormulaire">
      <ng-template matStepLabel>Remplissez vos nom et prénom :</ng-template>
      <mat-form-field>
        <input matInput placeholder="Prénom" formControlName="prenom" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nom" formControlName="nom" required>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperNext>Suivant >></button>
      </div>
    </form>
  </mat-step>

  <!--Step 2-->
  <mat-step [stepControl]="secondFormulaire" label="Remplissez votre email">
    <form [formGroup]="secondFormulaire">
      <!--<ng-template matStepLabel>Remplissez votre email</ng-template>-->
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious><< Précédent</button>
        <button mat-raised-button matStepperNext>Suivant >></button>
      </div>
    </form>
  </mat-step>

  <!--Step 3-->
  <mat-step>
    <ng-template matStepLabel>Terminé</ng-template>
    <div class="text-center text-info">Vous avez terminé le formulaire ! Merci</div>
    <div>
      <button mat-raised-button matStepperPrevious><< Précédent</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
