.mat-form-field { width: 100%; }
.mat-radio-button { display: block; }
input.mat-input-element { margin-bottom: 1em; font-weight: bold; }
.mat-slider-horizontal { width: 100%; }

// Icons
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons {
  vertical-align: middle;
}

// Calendear icon
.mat-form-field-appearance-legacy
.mat-form-field-prefix
.mat-icon-button
.mat-icon,
.mat-form-field-appearance-legacy
.mat-form-field-suffix
.mat-icon-button
.mat-icon {
  font-size: 150%;
  color: black;
  line-height: 1.125;
}
