<div id="content" class="container">
  <!--MatToolbar-->
  <div class="row">
    <mat-toolbar class="col-12 mx-auto" color="accent">
      <div>Material toolbar</div>
      <div class="toolbar-content"></div>
      <div>Menu</div>
    </mat-toolbar>
  </div><br><br>

  <!--MatList-->
  <div class="row">
    <div class="col-6 mx-auto">
      <h3>Navigation</h3>
      <mat-list dense>
        <mat-icon matListIcon>message</mat-icon>
        <p matLine>Texte de liste </p>
        <p matLine>sur plusieurs lignes</p>
        <mat-list-item>Avatar</mat-list-item>
        <mat-list-item>La ligne verte</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Leviathan</mat-list-item>
        <mat-list-item>Immortels</mat-list-item>
        <mat-list-item>Game of throne</mat-list-item>
      </mat-list>

      <!--MatSelectionList-->
      <mat-selection-list #random>
        <mat-list-option>Fruit</mat-list-option>
        <mat-list-option>Légume</mat-list-option>
        <mat-list-option>Poisson</mat-list-option>
      </mat-selection-list>
      <p>{{ random.selectedOptions.selected.length }}</p>
    </div>
  </div><br><br>

  <!--MatGridList-->
  <div class="row">
    <div class="col-12 mx-auto">
      <h3>Grille</h3>
      <mat-grid-list cols="2" rowHeight="2:1" gutterSize="2px">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
      </mat-grid-list>
    </div>
  </div><br><br>

  <!--MatCard-->
  <div class="row">
    <mat-card class="col-12 mx-auto">
      <mat-card-title>Titre</mat-card-title>
      <mat-card-subtitle>Sous-titre</mat-card-subtitle>
      <img mat-card-image src="https://images.unsplash.com/photo-1541777490254-a50eb9045486?ixlib=rb-0.3.5&s=cc05b91f2f5aef7f5002093cfd818495&auto=format&fit=crop&w=1234&q=80" alt="" />
      <mat-card-actions class="mx-auto">
        <button mat-raised-button color="primary">Facebook</button>
        <button mat-raised-button color="warn">G+</button>
        <button mat-raised-button color="accent">Viadeo</button>
      </mat-card-actions>
      <mat-card-content>
        Dum apud Persas, ut supra narravimus, perfidia regis motus agitat insperatos, et in eois tractibus bella r
        ediviva consurgunt, anno sexto decimo et eo diutius post Nepotiani exitium, saeviens per urbem aeternam urebat
        cuncta Bellona, ex primordiis minimis ad clades excita luctuosas, quas obliterasset utinam iuge silentium! ne
        forte paria quandoque temptentur, plus exemplis generalibus nocitura quam delictis.

        Quo cognito Constantius ultra mortalem modum exarsit ac nequo casu idem Gallus de futuris incertus agitare
        quaedam conducentia saluti suae per itinera conaretur, remoti sunt omnes de industria milites agentes in
        civitatibus perviis.
      </mat-card-content>
      <mat-card-footer class="text-center text-info"><i>@photo by Antoine Nouvene november 2018</i></mat-card-footer>
    </mat-card>
  </div><br><br>

  <!--MatStepper-->
  <div class="row">
    <mat-horizontal-stepper class="col-12 mx-auto">
      <mat-step label="Step 1">
        <h3>Contenu étape 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi consequatur dignissimos error eum eveniet fugit, libero odit perferendis placeat quia repellendus rerum sequi sint suscipit tempore ut velit voluptas!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi consequatur dignissimos error eum eveniet fugit, libero odit perferendis placeat quia repellendus rerum sequi sint suscipit tempore ut velit voluptas!</p>
      </mat-step>
      <mat-step label="Step 2">
        <h3>Contenu étape 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi consequatur dignissimos error eum eveniet fugit, libero odit perferendis placeat quia repellendus rerum sequi sint suscipit tempore ut velit voluptas!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi consequatur dignissimos error eum eveniet fugit, libero odit perferendis placeat quia repellendus rerum sequi sint suscipit tempore ut velit voluptas!</p>
      </mat-step>
    </mat-horizontal-stepper>
  </div><br><br>

  <!--MatTabs-->
  <div class="row">
    <mat-tab-group class="col-12 mx-auto" (selectedTabChange)="log($event)" (focusChange)="log($event)" dynamicHeight>
      <mat-tab label="Taille">
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet asperiores dolores doloribus earum ex,
          ugiat modi officia provident vero! Debitis dignissimos nam ratione repellat sapiente soluta tempore totam
          voluptatem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet asperiores dolores doloribus.
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Caractéristiques</ng-template>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Ab amet asperiores dolores doloribus earum ex, fugiat modi officia provident vero!
          Debitis dignissimos nam ratione repellat sapiente soluta tempore totam voluptatem.
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Avis internautes</ng-template>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet asperiores dolores doloribus earum ex, fugiat modi officia provident vero! Debitis dignissimos nam ratione repellat sapiente soluta tempore totam voluptatem.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet asperiores dolores doloribus earum ex, fugiat modi officia provident vero! Debitis dignissimos nam ratione repellat sapiente soluta tempore totam voluptatem.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet asperiores dolores doloribus earum ex, fugiat modi officia provident vero! Debitis dignissimos nam ratione repellat sapiente soluta tempore totam voluptatem.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet asperiores dolores doloribus earum ex, fugiat modi officia provident vero! Debitis dignissimos nam ratione repellat sapiente soluta tempore totam voluptatem.
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Nous vous conseillons également</ng-template>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet asperiores dolores doloribus earum ex, fugiat modi officia provident vero! Debitis dignissimos nam ratione repellat sapiente soluta tempore totam voluptatem.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet asperiores dolores doloribus earum ex, fugiat modi officia provident vero! Debitis dignissimos nam ratione repellat sapiente soluta tempore totam voluptatem.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet asperiores dolores doloribus earum ex, fugiat modi officia provident vero! Debitis dignissimos nam ratione repellat sapiente soluta tempore totam voluptatem.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet asperiores dolores doloribus earum ex, fugiat modi officia provident vero! Debitis dignissimos nam ratione repellat sapiente soluta tempore totam voluptatem.
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="warn">favorite</mat-icon>
        </ng-template>
        <div class="content">Nos coups de coeurs ... Bientôt disponibles</div>
      </mat-tab>
    </mat-tab-group>
  </div><br><br>

  <!--MatExpansion-->
  <div class="row">
    <mat-accordion class="col-12 mx-auto" multi="false">
      <!--Panel 1-->
      <mat-expansion-panel
        (opened)="etatDuPanneau = true"
        (closed)="etatDuPanneau = false">
        <mat-expansion-panel-header>
          <mat-panel-title>Titre panel</mat-panel-title>
          <mat-panel-description>Je suis {{ etatDuPanneau ? 'ouvert' : 'fermé' }}</mat-panel-description>
        </mat-expansion-panel-header>
        <section>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias corporis dolorum ea enim
            esse expedita ...</p>
        </section>
        <mat-action-row>
          <button mat-raised-button color="warn">Clic ici !</button>
        </mat-action-row>
      </mat-expansion-panel>
      <!--Panel 2-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Titre panel</mat-panel-title>
          <mat-panel-description>Une brève description ici ...</mat-panel-description>
        </mat-expansion-panel-header>
        <section>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias corporis dolorum ea enim
          esse expedita fuga id illum ipsum laborum minima minus necessitatibus officiis perspiciatis quisquam,
            temporibus totam voluptate!</p>
        </section>
        <mat-action-row>
          <button mat-raised-button color="warn">Clic ici !</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div><br><br>

  <!--MapChips-->
  <div class="row">
    <mat-chip-list class="col-12 mx-auto">
      <mat-chip selectable="false">Voyage</mat-chip>
      <mat-chip color="primary">Viet Nam</mat-chip>
      <mat-chip color="accent">Canada</mat-chip>
      <mat-basic-chip>chip</mat-basic-chip>
    </mat-chip-list>
  </div><br><br>

  <!--MapIcon-->
  <div class="row">
    <mat-icon class="fa fa-envelope"></mat-icon>
  </div><br><br>

  <!--MapChips + input -->
  <div class="row">
    <mat-chip-list class="col-12 mx-auto" #chipList>
      <!--Puces-->
      <mat-chip *ngFor="let p of pays" removable (removed)="removeChip(p)">
        {{ p.nom }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>

      <!--Champ de saisie pays-->
      <input placeholder="Nouveau pays ..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separateurs"
             (matChipInputTokenEnd)="addChip($event)" />
    </mat-chip-list>
  </div><br><br>

  <!--Material form components-->
  <form [formGroup]="form" class="col-8 mx-auto" (submit)="register()">
    <!--MatCheckbox-->
    <mat-form-field>
      <input matInput type="text" placeholder="Vegan ?" [disabled]="true">
      <mat-checkbox formControlName="vegan" value="Vegan ?">
        Oui/Non ?
      </mat-checkbox>
    </mat-form-field>

    <!--MatRadio-->
    <mat-form-field>
      <input matInput type="text" placeholder="Sexe ?" [disabled]="true">
      <mat-radio-group formControlName="sexe">
        <mat-radio-button value="femme" labelPosition="before">Femme</mat-radio-button>
        <mat-radio-button value="homme" labelPosition="before">Homme</mat-radio-button>
      </mat-radio-group>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Votre activité favorite ? {{ form.get('hobby').value }}" [disabled]="true">
      <mat-radio-group formControlName="hobby">
        <mat-radio-button *ngFor="let activite of activites" [value]="activite">
          {{ activite }}
        </mat-radio-button>
      </mat-radio-group>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Votre activité favorite ? {{ activiteFavorite}}" [disabled]="true">
      <mat-select [(value)]="activiteFavorite" multiple>
        <mat-option *ngFor="let activite of activites" [value]="activite">
          {{ activite }}
        </mat-option>
      </mat-select>
    </mat-form-field><br><br>

    <!--MatInput-->
    <mat-form-field>
      <input matInput type="text" placeholder="Votre suggestion ?" [disabled]="true">
      <textarea matInput type="text" formControlName="request" value="..."></textarea>
    </mat-form-field><br><br>

    <!--MatSlideToggle-->
    <mat-form-field>
      <input matInput type="text" placeholder="Recevoir la newsletter ?" [disabled]="true">
      <mat-slide-toggle formControlName="news">
        Oui/Non ?
      </mat-slide-toggle>
    </mat-form-field><br><br>

    <!--MatSelect/MatOption-->
    <mat-form-field>
      <input matInput type="text" placeholder="Food ?" [disabled]="true">
      <mat-select formControlName="food">
        <mat-option *ngFor="let f of food" [value]="f.value">{{ f.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Vos principales compétences ? {{ mySkills}}" [disabled]="true">
      <mat-select [(value)]="mySkills" multiple>
        <mat-optgroup *ngFor="let group of skills" [label]="group.skill">
          <mat-option *ngFor="let skill of group.skillsGroup" [value]="skill">
            {{ skill }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field><br><br>

    <!--MatSlider-->
    <mat-form-field>
      <input matInput type="text" placeholder="Note /10 ?" [disabled]="true">
      <mat-slider formControlName="note" min="0" max="10"></mat-slider>
      <span matPrefix>0</span>
      <span matSuffix>{{ form.get('note').value }}</span>
    </mat-form-field>

    <!--MatDatepicker-->
    <mat-form-field>
      <input matInput type="text" placeholder="Votre agenda ?" [disabled]="true">
      <input matInput type="text"
             formControlName="agenda"
             [matDatepicker]="picker"
             (dateInput)="ajouterEvenement('input', $event)"
             (dateChange)="ajouterEvenement('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!--MatDatepicker + custom icon-->
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Votre agenda ?" [disabled]="true" #locale value="fr-FR">
      <input matInput type="text" formControlName="agendaBis" [matDatepicker]="DatepickerFrom" (dateChange)="setLocale(locale.value)">
      <mat-datepicker-toggle matSuffix [for]="DatepickerFrom">
        <mat-icon matDatepickerToggleIcon>event_available</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #DatepickerFrom startView="year"></mat-datepicker>
    </mat-form-field><br><br>

    <!--floatPlaceholder-->
    <mat-form-field floatPlaceholder="always">
      <input matInput type="text" placeholder="Directive floatPlaceholder">
    </mat-form-field><br><br>

    <!--hintLabel-->
    <mat-form-field hintLabel="Maximum 10 caractères">
      <input type="text" matInput placeholder="Directive hintLabel">
    </mat-form-field><br><br>

    <!--MatHint avec align=start ou end -->
    <mat-form-field>
      <mat-hint align="end">Maximum 10 caractères</mat-hint>
      <input type="text" matInput placeholder="Balise <mat-hint> avec positionnement du texte avec align">
    </mat-form-field><br><br>

    <!--MatIcon + matSuffix/matPrefix-->
    <mat-form-field>
      <input matInput placeholder="Entrez votre email" formControlName="email">
      <mat-error *ngIf="form.get('email').invalid">{{ getErrorMessage() }}</mat-error>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field floatPlaceholder="always">
      <input type="password" matInput placeholder="Entrez votre mot de passe">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field><br><br>

    <!--Auto-complete-->
    <mat-form-field>
      <!--<input ... (input)="filtrerPays($event.target.value)>"-->
      <input matInput type="text"
             placeholder="Choisissez votre pays favori"
             formControlName="country"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto [displayWith]="afficherPays">
        <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
          {{ country.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field><br><br>

    <!--Menu-->
    <a mat-raised-button color="warn" [matMenuTriggerFor]="menu1">Menu</a><br><br>
    <mat-menu #menu1>
      <button mat-menu-item [matMenuTriggerFor]="menu2">One</button>
      <button mat-menu-item>Two</button>
      <button mat-menu-item>Three</button>
    </mat-menu>
    <mat-menu #menu2>
      <button mat-menu-item>Four</button>
      <button mat-menu-item>Five</button>
      <button mat-menu-item>Six</button>
    </mat-menu>


    <!--Submit button-->
    <button mat-raised-button color="primary">Valider</button>
    <button mat-button color="primary">primary</button>
    <button mat-button color="accent">accent</button>
    <button mat-button color="warn">warn</button>
    <button mat-button disabled>disabled</button>
    <button mat-fab color="primary">X</button>
    <button mat-mini-fab color="accent">X</button>
    <button mat-mini-fab color="warn">X</button>

    <br><br>

    <!--Form value infos-->
    <pre>{{ form.value | json }}</pre>

    <!--Datepicker events dateInput & dateChange-->
    <pre>
      <div *ngFor="let e of evenements">{{ e }}</div>
    </pre>

  </form>

</div>
