<div id="content" class="container">
  <form [formGroup]="form" class="col-8 mx-auto" (submit)="register()">
    <!--MatCheckbox-->
    <mat-form-field>
      <input matInput type="text" placeholder="Vegan ?" [disabled]="true">
      <mat-checkbox formControlName="vegan" value="Vegan ?">
        Oui/Non ?
      </mat-checkbox>
    </mat-form-field>

    <!--MatRadio-->
    <mat-form-field>
      <input matInput type="text" placeholder="Sexe ?" [disabled]="true">
      <mat-radio-group formControlName="sexe">
        <mat-radio-button value="femme" labelPosition="before">Femme</mat-radio-button>
        <mat-radio-button value="homme" labelPosition="before">Homme</mat-radio-button>
      </mat-radio-group>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Votre activité favorite ? {{ form.get('hobby').value }}" [disabled]="true">
      <mat-radio-group formControlName="hobby">
        <mat-radio-button *ngFor="let activite of activites" [value]="activite">
          {{ activite }}
        </mat-radio-button>
      </mat-radio-group>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Votre activité favorite ? {{ activiteFavorite}}" [disabled]="true">
      <mat-select [(value)]="activiteFavorite" multiple>
        <mat-option *ngFor="let activite of activites" [value]="activite">
          {{ activite }}
        </mat-option>
      </mat-select>
    </mat-form-field><br><br>

    <!--MatInput-->
    <mat-form-field>
      <input matInput type="text" placeholder="Votre suggestion ?" [disabled]="true">
      <textarea matInput type="text" formControlName="request" value="..."></textarea>
    </mat-form-field><br><br>

    <!--MatSlideToggle-->
    <mat-form-field>
      <input matInput type="text" placeholder="Recevoir la newsletter ?" [disabled]="true">
      <mat-slide-toggle formControlName="news">
        Oui/Non ?
      </mat-slide-toggle>
    </mat-form-field><br><br>

    <!--MatSelect/MatOption-->
    <mat-form-field>
      <input matInput type="text" placeholder="Food ?" [disabled]="true">
      <mat-select formControlName="food">
        <mat-option *ngFor="let f of food" [value]="f.value">{{ f.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Vos principales compétences ? {{ mySkills}}" [disabled]="true">
      <mat-select [(value)]="mySkills" multiple>
        <mat-optgroup *ngFor="let group of skills" [label]="group.skill">
          <mat-option *ngFor="let skill of group.skillsGroup" [value]="skill">
            {{ skill }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field><br><br>

    <!--MatSlider-->
    <mat-form-field>
      <input matInput type="text" placeholder="Note /10 ?" [disabled]="true">
      <mat-slider formControlName="note" min="0" max="10"></mat-slider>
      <span matPrefix>0</span>
      <span matSuffix>{{ form.get('note').value }}</span>
    </mat-form-field>

    <!--MatDatepicker-->
    <mat-form-field>
      <input matInput type="text" placeholder="Votre agenda ?" [disabled]="true">
      <input matInput type="text"
             formControlName="agenda"
             [matDatepicker]="picker"
             (dateInput)="ajouterEvenement('input', $event)"
             (dateChange)="ajouterEvenement('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!--MatDatepicker + custom icon-->
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Votre agenda ?" [disabled]="true" #locale value="fr-FR">
      <input matInput type="text" formControlName="agendaBis" [matDatepicker]="DatepickerFrom" (dateChange)="setLocale(locale.value)">
      <mat-datepicker-toggle matSuffix [for]="DatepickerFrom">
        <mat-icon matDatepickerToggleIcon>event_available</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #DatepickerFrom startView="year"></mat-datepicker>
    </mat-form-field><br><br>

    <!--floatPlaceholder-->
    <mat-form-field floatPlaceholder="always">
      <input matInput type="text" placeholder="Directive floatPlaceholder">
    </mat-form-field><br><br>

    <!--hintLabel-->
    <mat-form-field hintLabel="Maximum 10 caractères">
      <input type="text" matInput placeholder="Directive hintLabel">
    </mat-form-field><br><br>

    <!--MatHint avec align=start ou end -->
    <mat-form-field>
      <mat-hint align="end">Maximum 10 caractères</mat-hint>
      <input type="text" matInput placeholder="Balise <mat-hint> avec positionnement du texte avec align">
    </mat-form-field><br><br>

    <!--MatIcon + matSuffix/matPrefix-->
    <mat-form-field>
      <input matInput placeholder="Entrez votre email" formControlName="email">
      <mat-error *ngIf="form.get('email').invalid">{{ getErrorMessage() }}</mat-error>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field floatPlaceholder="always">
      <input type="password" matInput placeholder="Entrez votre mot de passe">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field><br><br>

    <!--Auto-complete-->
    <mat-form-field>
      <!--<input ... (input)="filtrerPays($event.target.value)>"-->
      <input matInput type="text"
             placeholder="Choisissez votre pays favori"
             formControlName="country"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto [displayWith]="afficherPays">
        <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
          {{ country.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field><br><br>

    <!--Menu-->
    <a mat-raised-button color="warn" [matMenuTriggerFor]="menu1">Menu</a><br><br>
    <mat-menu #menu1>
      <button mat-menu-item [matMenuTriggerFor]="menu2">One</button>
      <button mat-menu-item>Two</button>
      <button mat-menu-item>Three</button>
    </mat-menu>
    <mat-menu #menu2>
      <button mat-menu-item>Four</button>
      <button mat-menu-item>Five</button>
      <button mat-menu-item>Six</button>
    </mat-menu>


    <!--Submit button-->
    <button mat-raised-button color="primary">Valider</button>
    <button mat-button color="primary">primary</button>
    <button mat-button color="accent">accent</button>
    <button mat-button color="warn">warn</button>
    <button mat-button disabled>disabled</button>
    <button mat-fab color="primary">X</button>
    <button mat-mini-fab color="accent">X</button>
    <button mat-mini-fab color="warn">X</button>

    <br><br>

    <!--Form value infos-->
    <pre>{{ form.value | json }}</pre>

    <!--Datepicker events dateInput & dateChange-->
    <pre>
      <div *ngFor="let e of evenements">{{ e }}</div>
    </pre>

  </form>
</div>
